<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qicheng"
    android:versionCode="100012"
    android:versionName="1.0.0.0.12">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <!-- 友盟权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 环信权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- shareSDK权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 百度定位SDK权限 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".QichengApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_qicheng"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 百度定位SDK服务器 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".business.service.LocationService"
            android:enabled="true" />
        <!--umeng自动更新service-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <!-- activity config begin -->
        <!--umeng自动更新对话框-->
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".business.ui.Welcome"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".framework.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".business.ui.UserInfoActivity"
            android:label="@string/user_info_activity_title"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".business.ui.MainActivity"
            android:label="@string/title_activity_main"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.RegisterLabelSelectActivity"
            android:label="@string/actionbar_title_label"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.RegisterLabelEditActivity"
            android:label="@string/actionbar_title_label"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".business.ui.PersonalInformationActivity"
            android:label="@string/actionbar_title_modify_personal_information"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".business.ui.DynPublishActivity"
            android:label="@string/actionbar_title_publish_dyn"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".business.ui.AddTripActivity"
            android:label="添加行程"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.TrainSelectActivity"
            android:label="@string/title_activity_train_select"
            android:screenOrientation="portrait" />
        <!-- IM 相关Activity -->
        <activity
            android:name=".business.ui.ChatActivity"
            android:label="@string/title_activity_chat"
            android:launchMode="singleTop"
            android:logo="@drawable/ic_chat_logo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 地图 -->
        <activity
            android:name=".business.ui.chat.activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 自定义的contextmenu -->
        <activity
            android:name=".business.ui.chat.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 自定义的alertdialog -->
        <activity
            android:name=".business.ui.chat.activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name=".business.ui.chat.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".business.ui.chat.activity.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- choose video -->
        <activity
            android:name=".business.ui.chat.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".business.ui.chat.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- IM 相关Activity -->
        <activity
            android:name=".business.ui.PassengerActivity"
            android:label="@string/passenger_activity_title"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.TravellerActivity"
            android:label="@string/traveller_activity_title"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />

        <!-- activity config end -->
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="17qicheng#17qicheng" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- 友盟配置项 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54bb635ffd98c5be0500055a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="self" />
        <!-- 百度定位SDK配置项 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <activity
            android:name=".business.ui.OriginalPictureActivity"
            android:label="@string/title_activity_original_picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.LabelModifyActivity"
            android:label="@string/actionbar_title_label_modify"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.ui.LabelUpdateActivity"
            android:label="@string/actionbar_title_label_modify"
            android:logo="@drawable/ic_user"
            android:screenOrientation="portrait" />
        <!-- shareSDK Activity -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.ui.ToDynActivity"
            android:label="@string/title_activity_trip_to_dyn"
            android:logo="@drawable/ic_user">

        </activity>
        <activity
            android:name=".business.ui.AlbumActivity"
            android:label="@string/title_activity_album"
            android:logo="@drawable/ic_user"
            android:parentActivityName=".framework.ui.base.BaseActivity"></activity>
        <activity
            android:name=".business.ui.UserSettingActivity"
            android:label="@string/title_activity_user_setting"
            android:logo="@drawable/ic_user" />
        <activity
            android:name=".business.ui.UserInformationModifyActivity"
            android:label="@string/title_activity_user_information_modify"
            android:logo="@drawable/ic_user" />
        <activity
            android:name=".business.ui.chat.activity.ContactActivity"
            android:label="@string/title_activity_contact"
            android:logo="@drawable/ic_user" />
        <activity
            android:name=".business.ui.SelectEducationActivity"
            android:label="@string/title_activity_select_education"
            android:logo="@drawable/ic_user" />
        <activity
            android:name=".business.ui.BenefitCountActivity"
            android:label="@string/title_activity_benefit_count"
            android:logo="@drawable/ic_user"
            android:parentActivityName=".framework.ui.base.BaseActivity" />
        <activity
            android:name=".business.ui.BenefitRequestActivity"
            android:label="@string/title_activity_benefit_request"
            android:logo="@drawable/ic_user">

        </activity>
        <activity
            android:name=".business.ui.BenefitDetailActivity"
            android:label="@string/title_activity_benefit_detail"
            android:logo="@drawable/ic_user">

        </activity>
        <activity
            android:name=".business.ui.UserCellnumupdateActivity"
            android:label="@string/title_activity_user_information_cellnum_modify"
            android:logo="@drawable/ic_user">

        </activity>
        <activity
            android:name=".business.ui.AlbumItemActivity"
            android:label="@string/title_activity_album_item"
            android:logo="@drawable/ic_user">

        </activity>
        <activity
            android:name=".business.ui.UserPasswordUpdateActivity"
            android:label="@string/title_activity_user_setting_update_activity"
            android:logo="@drawable/ic_user"></activity>
    </application>

</manifest>
