<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qicheng">

    <application
        android:name=".QichengApplication"
        android:allowBackup="true"
        android:icon="@null"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".business.ui.UsrInfoActivity"
            android:label="@string/title_activity_usr_info"></activity>
        <activity
            android:name=".business.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <activity
            android:name=".business.ui.MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".business.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:logo="@drawable/ic_user">


        </activity>

        <activity
            android:name=".business.ui.RegisterLabelSelectActivity"
            android:label="标签"
            android:logo="@drawable/ic_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".business.ui.RegisterLabelEditActivity"
            android:label="标签"
            android:logo="@drawable/ic_user">


            </activity>
    </application>

</manifest>
